.sidebar {
  width: 200px;
  min-width: 120px;
  height: 100%;
  background: linear-gradient(135deg, #232034 75%, #181624 100%);
  color: #f6f6fa;
  border-right: 1px solid #503076;
  display: flex;
  flex-direction: column;
  box-shadow: 1.5px 0 16px rgba(62, 40, 105, 0.07);
  transition: width 0.16s;


  @media (max-width: 768px) {
    width: 100px;
    min-width: 100px;
  }
}

.sidebar ul {
  list-style: none;
  padding: 14px 0 0 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 8px;
  cursor: pointer;
  padding: 12px 18px 12px 22px;
  border-radius: 6px;
  font-size: 1rem;
  transition: background 0.12s, color 0.13s;

  @media (max-width: 768px) {
    padding: 8px 10px 8px 13px;
    font-size: 0.97rem;
  }
}

.sidebar ul li:hover,
.sidebar ul li.active {
  background-color: #6953d5;
  color: #bea7e7;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  width: 100%;
}

.sidebar ul li a span {
  margin-left: 12px;
  font-size: 1em;
  white-space: nowrap;

  @media (max-width: 768px) {
    font-size: 0.85rem;
  }
}

/* Updated dark mode or special .Black styling */
.sidebar.Black,
.Black {
  background: #5c47a0;
  /* Soft purple-blue */
  color: #e1dbf7;
  /* Light lavender for contrast */
  box-shadow: 0 0 15px #b3a0f7aa;
  /* Subtle glow for emphasis */
}

.dashboard-admin {
  display: flex;
  min-height: 80vh;
  margin-top: 20px;
  background: #faf9fd;
}

.content {
  padding-left: 20px;
}
